# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/

# ============= #
# Library Files #
# ============= #
Node/Library/cache
Node/Library/metadata
Node/Library/previews
Node/Library/ScriptAssemblies
Node/Library/assetDatabase3
Node/Library/AssetImportState
Node/Library/assetservercachev3
Node/Library/AssetServerCacheV3
Node/Library/AssetVersioning.db
Node/Library/AudioManager.asset
Node/Library/BuildPlayer.prefs
Node/Library/BuildSettings.asset
Node/Library/DynamicsManager.asset
Node/Library/EditorSettings.asset
Node/Library/EditorUserBuildSettings.asset
Node/Library/expandedItems
Node/Library/FailedAssetImports.txt
Node/Library/guidmapper
Node/Library/InspectorExpandedItems.asset
Node/Library/MonoManager.asset
Node/Library/NetworkManager.asset
Node/Library/ScriptMapper
Node/Library/unity default resources
Node/Library/unity editor resources
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db